@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
h1 {
  font-size: 2.5em;
  font-weight: 500;
  color: rgb(255, 196, 93);
}

h2 {
  font-size: 2em;
  font-weight: 400;
  color: rgb(0, 74, 173);
}

h3 {
  font-size: 1.5em;
  color: rgb(255, 196, 93);
}

/* Aplico un Background Pattern que se repita y quede fijo cuando se hace scroll, para dar la sensación de parallax */
body {
  background-image: url(../img/darkness.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

p {
  font-size: 1.5em;
  font-weight: 300;
  text-align: justify;
  color: rgb(245, 245, 245);
}

button {
  background-color: rgb(0, 74, 173) !important;
  color: rgb(255, 196, 93) !important;
}

/* Un contenedor para usarlo en las partes con contenido de dos columnas con imagenes y texto */
.contenedor, .headingH1 {
  display: flex;
  align-items: center;
  background-color: rgba(5, 50, 68, 0.25);
  border-radius: 12px;
  margin: 20px;
  padding: 30px;
}

.headingH1 {
  flex-direction: column;
}

.contCajas {
  padding: 20px;
}

.imgS {
  width: 100%;
  padding: 20px;
  height: auto;
}

.logo {
  margin: 15px;
  width: 50%;
  height: auto;
}

.form, .buttonError {
  color: rgb(255, 196, 93);
  font-size: 1em;
  text-decoration: none;
}

.borderGal {
  border: 1px solid rgb(245, 245, 245);
  border-radius: 12px;
}

.buttonError {
  background: rgb(0, 74, 173);
  color: rgb(255, 196, 93);
  border-radius: 12px;
  margin: 15px;
  padding: 10px;
}
.buttonError:hover {
  background-color: rgba(5, 50, 68, 0.642);
  color: rgb(245, 245, 245);
}

/* Si bien la nav la trabaje con boostrap, agregue unas lineas de css propias para darle mi estilo personal */
nav {
  background-color: rgba(5, 50, 68, 0.642);
  border-radius: 12px;
}
nav ul {
  align-items: flex-end;
}
nav ul li {
  margin: 0 20px 0 0;
}
nav ul li a {
  color: rgb(255, 196, 93);
  font-size: 1.5em;
  font-weight: 500;
  padding: 2px 7px;
  border-radius: 6px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: rgb(0, 74, 173);
  color: rgb(245, 245, 245);
  padding: 4px 9px;
}

/* Creando Grid para la sección Camino */
/* Un background para aplicarle solo a los lugares elegidos */
.bgGrid {
  background-color: rgba(5, 50, 68, 0.25);
  border-radius: 12px;
}

/* Definimos la cantidad de columnas y filas de la grilla, y asignamos los lugares en cada celda */
.recorrido {
  margin: 20px;
  display: grid;
  grid-template-columns: 15vw 30vw 30vw auto;
  grid-template-areas: "imgIzq intro intro imgDer" "html html imgHtml banner" "css css imgCss banner" "javascript javascript imgJavascript banner" "angular angular imgAngular banner";
  gap: 15px;
}

/* Dos clases que me permiten ahorrar algo de código y no repetir tanto lo mismo */
.imgGrid, .contGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contGrid {
  flex-direction: column;
  padding: 10px 20px;
}

/* Bautizando mis areas como dice la profe :) */
.intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.imgIzq {
  grid-area: imgIzq;
}

.imgDer {
  grid-area: imgDer;
}

.html {
  grid-area: html;
}

.imgHtml {
  grid-area: imgHtml;
}

.css {
  grid-area: css;
}

.imgCss {
  grid-area: imgCss;
}

.javascript {
  grid-area: javascript;
}

.imgJavascript {
  grid-area: imgJavascript;
}

.angular {
  grid-area: angular;
}

.imgAngular {
  grid-area: imgAngular;
}

.banner {
  grid-area: banner;
}

/* Aqui termina la ubicación de cada contenido en el grid */
/* Le aplique al banner un filtro con opacidad del 30% y use la propiedad object-fit, asi pude lograr que ocupara todo el ancho y alto del lugar que le asigne */
.banner img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: opacity(30%);
}

/* El footer tiene los iconos para redes sociales de boostrap, tambien agregue un id para llegar a la parte superior de la pagina desde el logo del footer */
footer {
  background-color: rgba(5, 50, 68, 0.642);
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
footer p {
  font-size: 1em;
  font-weight: 500;
  color: rgb(255, 196, 93);
}
footer a {
  text-decoration: none;
}

/* Probando con Responsive 1er Breakpoint */
/* Colocando el contenido en columna cuando la pantalla sea menor que 992px */
@media (max-width: 992px) {
  .logo {
    width: 50%;
  }
  h1 {
    text-align: center;
    font-size: 2em;
  }
  .contenedor, .headingH1 {
    flex-direction: column;
    align-items: center;
  }
  .contenedor img, .headingH1 img {
    width: 100%;
  }
  .contCajas {
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
    font-size: 1.5em;
    padding: 10px;
    text-align: justify;
  }
  .intro p {
    font-size: 1em;
    align-items: start;
  }
  .hidden {
    display: none;
  }
  footer {
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }
  footer svg {
    width: 36px;
  }
  footer p {
    font-size: 1em;
    text-align: center;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
/* Segundo Breakpoint */
@media (max-width: 576px) {
  .logo {
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  .contenedor, .headingH1 {
    flex-direction: column;
    align-items: center;
  }
  .contenedor img, .headingH1 img {
    width: 100%;
  }
  .contCajas {
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
  }
  .recorrido {
    display: flex;
    flex-direction: column;
  }
  .hidden {
    display: none;
  }
  h1 {
    text-align: center;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer p {
    font-size: 1em;
  }
  iframe {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
