@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
h1 {
  font-size: 2.5em;
  font-weight: 500;
  color: rgb(255, 196, 93);
}

h2 {
  font-size: 2em;
  font-weight: 400;
  color: rgb(0, 74, 173);
}

h3 {
  font-size: 1.5em;
  color: rgb(255, 196, 93);
}

/* Aplico un Background Pattern que se repita y quede fijo cuando se hace scroll, para dar la sensación de parallax */
body {
  background-image: url(../img/darkness.png);
  background-repeat: repeat;
  background-attachment: fixed;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  line-height: 1.6em;
  color: rgb(205, 201, 201);
  font-weight: 300;
  text-align: justify;
  padding: 0;
}

button {
  background-color: rgb(0, 74, 173) !important;
  color: rgb(255, 196, 93) !important;
}

/* Un contenedor para usarlo en las partes con contenido de dos columnas con imagenes y texto */
.contenedor, .headingH1 {
  display: flex;
  align-items: center;
  background-color: rgba(5, 50, 68, 0.25);
  border-radius: 12px;
  margin: 20px;
  padding: 30px;
}

.headingH1 {
  flex-direction: column;
  text-align: center;
}

.contCajas {
  padding: 20px;
}

.imgS {
  width: 100%;
  padding: 20px;
  height: auto;
}

.logo {
  margin: 10px;
  width: 10vw;
  height: auto;
}

.hiddenDs {
  display: none;
}

.cuotes {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.cuotes p {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  line-height: 2.3em;
  color: rgb(255, 196, 93);
  font-weight: 400;
  text-align: center;
  padding: 0;
  font-style: italic;
  width: 50%;
}

.form, .buttonError {
  color: rgb(255, 196, 93);
  font-size: 1em;
  text-decoration: none;
}

.buttonError {
  background: rgb(0, 74, 173);
  color: rgb(255, 196, 93);
  border-radius: 12px;
  margin: 15px;
  padding: 10px;
}
.buttonError:hover {
  background-color: rgba(5, 50, 68, 0.642);
  color: rgb(205, 201, 201);
}

/* Si bien la nav la trabaje con boostrap, agregue unas lineas de css propias para darle mi estilo personal */
nav {
  background-color: rgba(5, 50, 68, 0.642);
  border-radius: 12px;
}
nav ul {
  align-items: flex-end;
}
nav ul li {
  margin: 0 20px 0 0;
}
nav ul li a {
  color: rgb(255, 196, 93);
  font-size: 1.5em;
  font-weight: 500;
  padding: 2px 7px;
  border-radius: 6px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: rgb(0, 74, 173);
  color: rgb(205, 201, 201);
  padding: 4px 9px;
}

/* Creando Grid para la sección Camino */
.bgGrid {
  background-color: rgba(5, 50, 68, 0.25);
  border-radius: 12px;
}

/* Definimos la cantidad de columnas y filas de la grilla, y asignamos los lugares en cada celda */
.recorrido {
  margin: 20px;
  display: grid;
  grid-template-columns: 15vw 30vw 30vw auto;
  grid-template-areas: "imgIzq intro intro imgDer" "html html imgHtml banner" "css css imgCss banner" "javascript javascript imgJavascript banner" "angular angular imgAngular banner";
  gap: 15px;
}

.imgGrid, .contGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contGrid {
  flex-direction: column;
  padding: 10px 20px;
}

/* Bautizando mis areas como dice la profe :) */
.intro {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.imgIzq {
  grid-area: imgIzq;
}

.imgDer {
  grid-area: imgDer;
}

.html {
  grid-area: html;
}

.imgHtml {
  grid-area: imgHtml;
}

.css {
  grid-area: css;
}

.imgCss {
  grid-area: imgCss;
}

.javascript {
  grid-area: javascript;
}

.imgJavascript {
  grid-area: imgJavascript;
}

.angular {
  grid-area: angular;
}

.imgAngular {
  grid-area: imgAngular;
}

.banner {
  grid-area: banner;
}

/* Aqui termina la ubicación de cada contenido en el grid */
/* Le aplique al banner un filtro con opacidad del 30% y use la propiedad object-fit, asi pude lograr que ocupara todo el ancho y alto del lugar que le asigne */
.banner img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: opacity(30%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate 0deg;
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: 5s rotate linear infinite;
  animation: 5s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.card {
  position: relative;
  width: 700px;
  height: 500px;
  background-color: #000;
  overflow: hidden;
  margin: 20px auto;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.15;
  transition: opacity 0.25s, scale 0.35s;
}

.card:hover .cardImage {
  opacity: 0.6;
  scale: 1;
}

.cardBody {
  position: absolute;
  inset: 0;
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  justify-content: center;
}

.cardBody::before {
  content: "";
  position: absolute;
  inset: 20px;
  opacity: 0;
  scale: 1.25;
  transition: opacity 0.25s scale 0.25s;
}

.card:hover .cardBody::before {
  opacity: 1;
  scale: 1;
}

.cardTitle {
  font-size: 2em;
  color: rgb(255, 196, 93);
  padding: 5px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.504);
  border-radius: 5px;
}

.cardDescription {
  font-size: 1.5em;
  margin-bottom: -50px;
  opacity: 0;
  translate: -25px;
  transition: opacity 0.25s, translate 0.25;
}

.card:hover .cardDescription {
  opacity: 1;
  translate: 0;
  margin: 5px 0 5px 0;
  padding: 5px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.612);
  border-radius: 5px;
  text-decoration: none;
}

/* El footer tiene los iconos para redes sociales de boostrap, tambien agregue un id para llegar a la parte superior de la pagina desde el logo del footer */
footer {
  background-color: rgba(5, 50, 68, 0.642);
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
footer p {
  font-size: 1em;
  font-weight: 500;
  color: rgb(255, 196, 93);
}
footer a {
  text-decoration: none;
}

/*Responsive 1er Breakpoint */
/* Colocando el contenido en columna cuando la pantalla sea menor que 992px */
@media (max-width: 992px) {
  .logo {
    width: 50%;
  }
  h1 {
    text-align: center;
    font-size: 2em;
  }
  .contenedor, .headingH1 {
    flex-direction: column;
    align-items: center;
  }
  .contenedor img, .headingH1 img {
    width: 100%;
  }
  .contCajas {
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
    font-size: 1.5em;
    padding: 10px;
    text-align: justify;
  }
  .intro p {
    font-size: 1em;
    align-items: start;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .cardDescription {
    font-size: 1.5em;
    margin-top: 35px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.612);
    border-radius: 5px;
    opacity: 1;
  }
  .imgS {
    width: 100%;
    padding: 20px;
    height: auto;
  }
  footer {
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }
  footer .logo {
    margin-left: 30%;
  }
  footer svg {
    width: 36px;
  }
  footer p {
    font-size: 1em;
    text-align: center;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 1em;
  }
}
/* Segundo Breakpoint */
@media (max-width: 576px) {
  nav {
    display: flex;
    align-items: center;
  }
  nav .navbar-brand {
    max-width: 60%;
  }
  nav .navbar-brand img {
    width: 55%;
  }
  nav .logo {
    width: 35%;
  }
  .contenedor, .headingH1 {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .contenedor img, .headingH1 img {
    width: 100%;
  }
  .contCajas {
    width: 100%;
    margin-bottom: 10px;
    align-self: center;
    font-size: 1em;
    padding: 5px;
    text-align: center;
  }
  .recorrido {
    display: flex;
    flex-direction: column;
  }
  .imgS {
    width: 100%;
    padding: 20px;
    height: auto;
  }
  .cuotes {
    width: 100%;
    padding: 10px;
  }
  .cuotes p {
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    line-height: 1.8em;
    color: rgb(255, 196, 93);
    font-weight: 400;
    text-align: center;
    padding: 0;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .logo {
    margin-left: 30%;
  }
  footer p {
    font-size: 1em;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .cardTitle {
    margin-bottom: 10px;
    padding: 0;
    font-size: 0.8em;
  }
  .cardTitle p {
    text-align: center;
    color: rgb(255, 196, 93);
  }
  .cardTitle a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
  }
}

/*# sourceMappingURL=main.css.map */
