
/* Probando con Responsive 1er Breakpoint */
/* Colocando el contenido en columna cuando la pantalla sea menor que 992px */

@media(max-width: 992px){

    .logo {
    width: 40%;
    }

    h1{
        text-align: center;
        font-size: $textMd;
    }

    .contenedor {
        flex-direction: column;
        align-items:center;
        img{
            width: 100%;
        }
    }

    .contCajas{
        width: 100%;
        margin-bottom: 10px;
        align-self: center;
        font-size: $textSm;
        padding: 10px;
        text-align: justify;
    }

    .intro p{
        font-size: $textXsm;
        align-items:start;
    }

    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    .imgS {
        width: 100%;
        padding: 20px;
        height: auto;
        }

    footer{
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        svg{
            width: 36px;
        }
        p{
            font-size: $textXsm;
            text-align: center;
        }
    }
    
    iframe {
        width: 100%;
        height: 100%;
    }
}

/* Segundo Breakpoint */
@media(max-width: 576px){

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .logo {
    width: 40%;
    }

    .contenedor {
        flex-direction: column;
        align-items:center;
        img{
            width: 100%;
        }
    }

    .contCajas{
        width: 100%;
        margin-bottom: 10px;
        align-self: center;
        font-size: $textSm;
        padding: 10px;
        text-align: center;
    }

    .recorrido {
        display: flex;
        flex-direction: column;
    }

    .imgS {
        width: 100%;
        padding: 20px;
        height: auto;
        }

    footer{
        flex-direction: column;
        align-items: center;
        .logo{
            margin-left: 30%;
        }
       
        p{
            font-size: $textXsm;
        }
    }
    
    iframe {
        width: 100%;
        height: auto;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}