h1 {
    font-size: $textLg;   
    font-weight: $fontBold;
    color: $secondaryColor;
}

h2 {
    font-size: $textMd;
    font-weight: $fontlight;
    color: $standarColor
}

h3 {
    font-size: $textSm;
    color:$secondaryColor;
}   

/* Aplico un Background Pattern que se repita y quede fijo cuando se hace scroll, para dar la sensación de parallax */

body {
    background-image: url(../img/darkness.png);
    background-repeat: repeat;
    background-attachment:fixed;
}

p {
    font-size: $textSm;
    font-weight: $fontXlight;
    text-align:justify;
    color: $mainColor;
}

button {
    background-color: $bgOptional !important;
    color:$secondaryColor !important;
}

/* Un contenedor para usarlo en las partes con contenido de dos columnas con imagenes y texto */
.contenedor {
    display: flex;
    align-items: center;
    background-color: $bgPrimary;
    border-radius: 12px;
    margin: 20px;
    padding: 30px;
    }

.headingH1{
   @extend .contenedor;
        flex-direction: column;
        text-align: center;
   }

.contCajas {
    padding: 20px;
    }

.imgS {
    width: 100%;
    padding: 20px;
    height: auto;
    }

.logo {
    margin: 15px;
    width: 50%;
    height: auto;
}

.form{
    color: $secondaryColor;
    font-size: $textXsm;
    text-decoration: none;
}

.borderGal {
    border: 1px solid $mainColor;
    border-radius: 12px;
}

.buttonError {
    @extend .form;
    background: $bgOptional;
    color: $secondaryColor;
    border-radius: 12px;
    margin: 15px;
    padding: 10px;
    &:hover{
        background-color: $bgSecondary;
        color:$mainColor;
    }
}
