/* El footer tiene los iconos para redes sociales de boostrap, tambien agregue un id para llegar a la parte superior de la pagina desde el logo del footer */

footer {
    @include bgSecondary;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;
    p{
        font-size: $textXsm;
        font-weight: $fontBold;
        color: $secondaryColor;
    }
    a{
        text-decoration: none;
    }
}