@mixin textos ($size, $line, $color, $weight, $aline, $padding){
    font-family: $mainFont;
    font-size: $size;
    line-height: $line;
    color: $color;
    font-weight: $weight;
    text-align: $aline;
    padding: $padding;
}

@mixin imagenes (){
    width: 100%;
    padding: 20px;
    height: auto;
}

@mixin bgKey (){
    background-color: $bgPrimary;
    border-radius: 12px;
}

@mixin bgSecondary (){
    background-color: $bgSecondary;
    border-radius: 12px;
}