@mixin textos ($size, $line, $color, $padding){
    font-family: $mainFont;
    font-size: $size;
    line-height: $line;
    color: $color;
    padding: $padding;
}

@mixin bgKey (){
    background-color: $bgPrimary;
    border-radius: 12px;
}

@mixin bgSecondary (){
    background-color: $bgSecondary;
    border-radius: 12px;
}