/* Si bien la nav la trabaje con boostrap, agregue unas lineas de css propias para darle mi estilo personal */
nav {
    @include bgSecondary;
    
    ul {
        align-items: flex-end;
        li{
            margin: 0 20px 0 0;
            a{
                color:$secondaryColor; 
                font-size: $textSm;
                font-weight: $fontBold;
                padding: 2px 7px;
                border-radius: 6px;
                text-decoration: none;
                    &:hover{
                        background-color: $bgOptional;
                        color:$mainColor;
                        padding: 4px 9px;
                    }
            }
        }
    }       
}