//Variables Globales

//Colores Generales
$mainColor: rgb(245, 245, 245);
$secondaryColor: rgb(255, 196, 93);
$standarColor: rgb(0, 74, 173);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

//BackGround Colors
$bgPrimary: rgba(5, 50, 68, 0.250);
$bgSecondary: rgba(5, 50, 68, 0.642);
$bgOptional: rgb(0, 74, 173);

//Fuentes
$mainFont: 'Poppins', sans-serif;
$textLg: 2.5em;
$textMd: 2em;
$textSm: 1.5em;
$textXsm: 1em;
$fontBold: 500;
$fontlight: 400;
$fontXlight: 300;